.mywork{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 10%;
}

.mywork-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.mywork-container img{
  width: 100%;
  transition: 0.3s;
  cursor: pointer;
}

.mywork-container img:hover{
  transform: scale(1.10);
  border: 4px solid #ff00ff;
  border-radius: 10px;
  transition: 0.3s;
}
